/* ============================================================
  NEXT PAGINATION
============================================================ */
.post-navigation a,
.ast-pagination .prev.page-numbers,
.ast-pagination .next.page-numbers {
  padding: 0 1.5em;
  height: 2.33333em;
  line-height: calc(2.33333em - 3px);
}

.post-navigation a {
  background: transparent;
  font-size: 16px;
  font-size: 1.06666rem;
}

.ast-pagination {
  display: inline-block;
  width: 100%;
  padding-top: 2em;
}

@media (min-width: 993px) {
  .ast-pagination {
    padding-left: 3.33333em;
    padding-right: 3.33333em;
  }
}

.ast-pagination .page-numbers {
  display: inline-block;
  width: 2.33333em;
  height: 2.33333em;
  font-size: 16px;
  font-size: 1.06666rem;
  line-height: calc(2.33333em - 3px);
  text-align: center;
}

.ast-pagination .nav-links {
  display: inline-block;
  width: 100%;
}

@media (max-width: 420px) {
  .ast-pagination .prev.page-numbers,
  .ast-pagination .next.page-numbers {
    width: 100%;
    text-align: center;
    margin: 0;
  }
}

.ast-pagination .prev.page-numbers,
.ast-pagination .prev.page-numbers:visited,
.ast-pagination .prev.page-numbers:focus,
.ast-pagination .next.page-numbers,
.ast-pagination .next.page-numbers:visited,
.ast-pagination .next.page-numbers:focus {
  display: inline-block;
  width: auto;
}

@media (min-width: 769px) {
  .ast-pagination .prev.page-numbers.next,
  .ast-pagination .prev.page-numbers:visited.next,
  .ast-pagination .prev.page-numbers:focus.next,
  .ast-pagination .next.page-numbers.next,
  .ast-pagination .next.page-numbers:visited.next,
  .ast-pagination .next.page-numbers:focus.next {
    margin-right: 0;
  }
}

.ast-pagination .prev.page-numbers.dots, .ast-pagination .prev.page-numbers.dots:hover, .ast-pagination .prev.page-numbers.dots:focus,
.ast-pagination .prev.page-numbers:visited.dots,
.ast-pagination .prev.page-numbers:visited.dots:hover,
.ast-pagination .prev.page-numbers:visited.dots:focus,
.ast-pagination .prev.page-numbers:focus.dots,
.ast-pagination .prev.page-numbers:focus.dots:hover,
.ast-pagination .prev.page-numbers:focus.dots:focus,
.ast-pagination .next.page-numbers.dots,
.ast-pagination .next.page-numbers.dots:hover,
.ast-pagination .next.page-numbers.dots:focus,
.ast-pagination .next.page-numbers:visited.dots,
.ast-pagination .next.page-numbers:visited.dots:hover,
.ast-pagination .next.page-numbers:visited.dots:focus,
.ast-pagination .next.page-numbers:focus.dots,
.ast-pagination .next.page-numbers:focus.dots:hover,
.ast-pagination .next.page-numbers:focus.dots:focus {
  border: 2px solid #eaeaea;
  background: transparent;
}

.ast-pagination .prev.page-numbers.dots,
.ast-pagination .prev.page-numbers:visited.dots,
.ast-pagination .prev.page-numbers:focus.dots,
.ast-pagination .next.page-numbers.dots,
.ast-pagination .next.page-numbers:visited.dots,
.ast-pagination .next.page-numbers:focus.dots {
  cursor: default;
}

.ast-pagination .next.page-numbers {
  float: right;
  text-align: right;
}

@media (max-width: 768px) {
  .ast-pagination .next.page-numbers .page-navigation {
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .ast-pagination .prev_next {
    display: inline-block;
    width: 100%;
  }
}

.ast-pagination .prev_next .next .ast-right-arrow,
.ast-pagination .prev_next .prev .ast-left-arrow {
  font-size: 1em;
  line-height: 1em;
}

@media (min-width: 769px) {
  .ast-pagination .prev_next {
    float: right;
  }
}
