// WordPress ToggleControl custom stylings starts.
.customize-control-ast-toggle-control .components-toggle-control {
    .components-base-control__field {
        margin: 12px 0;
    }
    .components-form-toggle {
        margin: 0;
        order: 2;
    }
    .components-toggle-control__label {
        display: flex;
        flex: 1 1 auto;
    }
}