parameters:
	level: 4
	paths:
		- functions.php
		- inc/
	bootstrapFiles:
		- %currentWorkingDirectory%/tests/php/static-analysis-stubs/constants.php
	excludes_analyse:
		- %currentWorkingDirectory%/classes/library/*
	ignoreErrors:
		- '#Variable \$wp_customize might not be defined.#'
		- '#^Function apply_filters invoked with [34567] parameters, 2 required\.$#'
		- '#Constant [a-zA-Z0-9\\_()]+ not found#'
