
#customize-control-astra-settings-global-color-palette {
    .components-button.astra-color-icon-indicate .component-color-indicator.astra-advanced-color-indicate{
        width: 25px;
        height: 25px;
    }
    .components-radio-control__option.activepalette {
        background: white;
        border-radius: 10px;
    }
    .components-radio-control__input[type="radio"]:checked::before {
        border: unset;
    }
    .components-radio-control__option {
        padding: 15px 10px;
    }
    .color-button-wrap {
        display: unset;
        position: unset;
        right: unset;
        top: unset;
    }
    .ast-color-palette-inline {
        display: inline-block;
        margin-left: 5px;
    }
    .ast-color-palette1-wrap {
        position: absolute;
        top: 26%;
        right: 4%;
    }
    
    .ast-color-palette2-wrap {
        position: absolute;
        right: 4%;
        top: 57%;
    }
    .astra-color-picker-wrap {
        position: absolute;
        z-index: 1;
        right: 0;
        width: 21em;
    }
    .ast-color-btn-reset-wrap {
        left: 60px;
    }
    
    .astra-global-palette-import .components-popover__content {
        padding: 0 25px 25px 25px;
    }

    p.palette-format {
        word-break: break-all;
        padding: 10px;
        background-color: #f5f5f5;
        border: 1px solid;
    }
    .components-button.astra-palette-item:hover {
        border: 1px solid;
    }

    @media (min-width: 1800px) {
        .astra-color-picker-wrap {        
            width: 24em;
        }
        
    }
}




