.customize-control-ast-responsive-slider {
  .wrapper {
    position: relative;
    .components-range-control__wrapper {
      margin-left: 0;
    }
  }
  .input-field-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  input[type=range] {
   position: inherit;
  }
}

.customize-control-ast-responsive-slider .input-field-wrapper {
  display: none;
  &.active {
    display: flex;
  }
}

/**
 * Responsive Icons
 */

.ast-responsive-slider-btns {
  position: absolute;
  right: 5px;
  bottom: 17px;
  > li {
    margin-bottom: 0;
    display: none;
    &.active {
      display: inline-block;
    }
  }
  button[type="button"] {
    padding: 0;
    cursor: pointer;
    background: none;
    border: none;
    opacity: .75;
    outline: none;
    > i {
      cursor: pointer;
      width: 15px;
      height: 15px;
      font-size: 15px;
    }
  }
}
