

/* Astra Respnosive oEmbed Video container */

.ast-oembed-container {
    position: relative;
    padding-top: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;

    iframe, object, embed{ 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

body .ast-oembed-container {
    *{ 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
