/**
 * 	Header Common
 *
 * Contents
 * 1 - Common
 * 4 - Main Header Container
 * 6 - all and (max-width: $mx-break-point)
 * 7 - Auto Margin
*/

/**
 * 1 - Common
 */
.site-header {
    z-index: 99;
    position: relative;   
}

/**
 * 4 - Main Header Container
 */
.main-header-container {
    position: relative;
}

.main-header-bar-wrap {
    position: relative;

    .nav-fallback-text {
        float: right;
    }
}

.main-header-bar {
    background-color: #fff;
    border-bottom-color: #eaeaea;
    border-bottom-style: solid;
}

/**
 * 6 - all and (max-width: $mx-break-point)
 */
.ast-header-break-point {

    .main-header-bar {
        border: 0;
    }

    .nav-fallback-text {
        float: none;
    }
    .main-header-bar {
        border-bottom-color: #eaeaea;
        border-bottom-style: solid;
    }
    .ast-header-custom-item{
        .ast-masthead-custom-menu-items{
            padding-left: 20px;
            padding-right: 20px;
            margin-bottom: 1em;
            margin-top: 1em;
        }
        .widget:last-child{
            margin-bottom: 1em;
        }
    }
}

/**
 * 7 - Auto Margin
 */
.main-header-bar {
    margin-left: auto;
    margin-right: auto;
}

.site-logo-img img {
    @include ast-transition();
}

/**
 * 9 - Header Widget Area
 */
.ast-header-custom-item{
    .widget {
        margin: 0.5em;
        display: inline-block;
        vertical-align: middle;
        p {
            margin-bottom: 0;
        }
        li{
            width: auto;
        }
    }
}

/**
 * 10 - Submenu container box shadow 
 */
.ast-desktop {
    .main-header-menu:not(#ast-hf-mobile-menu) {
        .astra-full-megamenu-wrapper {
            .sub-menu {
                box-shadow: none;
            }
        }
        .astra-megamenu {
            .sub-menu {
                box-shadow: none;
            }
        } 
    }
}   

.ast-desktop {
    .main-header-menu:not(#ast-hf-mobile-menu) {
        .sub-menu {
            box-shadow: 0 4px 10px -2px rgba(0,0,0, 0.1);
        } 
        .astra-full-megamenu-wrapper {
            box-shadow: 0 4px 10px -2px rgba(0,0,0, 0.1);
        }
    }
}

.ast-header-custom-item-inside {
    .button-custom-menu-item{
        .menu-link {
            display: none;
        }
    }
    &.ast-header-break-point {
        .button-custom-menu-item {
            .ast-custom-button-link {
                display: none;
            }
            .menu-link {
                display: block;
            }
            padding-left: 0;
            padding-right: 0;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}

.button-custom-menu-item {
    .ast-custom-button-link {
        .ast-custom-button {
            font-size: inherit;
            font-family: inherit;
            font-weight: inherit;

            &:hover {
                @include ast-transition(all, 0.1s, ease-in-out);
            }
        }
    }
}
