#customize-control-astra-color-palettes .ast-color-palette-wrap > div {
	margin-bottom: 8px;
	position: relative;
}

#customize-control-astra-color-palettes .color-button-wrap {
	display: unset;
	position: relative;
	right: unset;
	top: unset;
	vertical-align: sub;
}

#customize-control-astra-color-palettes .astra-color-picker-wrap {
	position: absolute;
	z-index: 1;
	right: 0;
	width: 21em;
	display: none;
}

#customize-control-astra-color-palettes .astra-color-picker-wrap.open {
	display: block;
}

#customize-control-astra-color-palettes .ast-color-btn-reset-wrap {
	left: 60px;
}

#customize-control-astra-color-palettes .ast-color-palette-label {
	width: 65%;
	display: inline-block;
	margin-right: 10px;
	vertical-align: top;
}

#customize-control-astra-color-palettes .ast-color-palette-label input {
	background: none;
	border: none;
}

#customize-control-astra-color-palettes .ast-color-palette-label input:focus {
	border: 1px solid black;
	outline: none;
	box-shadow: none;
	background: white;
}

#customize-control-astra-color-palettes .ast-add-new-color.is-primary {
	width: 55%;
}

.ast-color-palette-wrapper .ast-single-palette-wrap {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	align-items: center;
	position: relative;
}

.ast-single-palette-wrap > label {
	display: flex;
	align-items: center;
	height: 100%;
}

.ast-single-palette-wrap .ast-palette-radio-input {
	width: 15px;
	height: 15px;
	flex: 0 0 16px;
	display: none;
}

.ast-single-palette-wrap
	.components-button.astra-color-icon-indicate
	.component-color-indicator.astra-advanced-color-indicate {
	width: 28px;
	height: 28px;
}

#customize-control-astra-color-palettes
	.ast-color-palette-wrapper
	.ast-color-picker-wrap:first-child {
	margin-left: 0;
}

#customize-control-astra-color-palettes
	.ast-color-palette-wrapper
	.ast-color-picker-wrap {
	margin-top: 12px;
}

#customize-control-astra-color-palettes .ast-reset-btn:disabled {
	opacity: 0.6;
}

#customize-control-astra-color-palettes .ast-single-color-container {
	width: 20%;
	height: 100%;
	display: inline-block;
}

#customize-control-astra-color-palettes .ast-color-palette-wrap {
	height: 40px;
	width: 30%;
	float: left;
	margin-left: 12px;
}

#customize-control-astra-color-palettes .ast-color-palette-wrap.active {
	outline: 3px solid #037fb8;
}

#customize-control-astra-color-palettes .ast-color-palette-wrapper {
	clear: both;
	margin-top: 10px;
}

#customize-control-astra-color-palettes .ast-color-palette-wrap:first-child {
	margin-left: 0;
}

#customize-control-astra-color-palettes .ast-palette-selection-wrapper {
	overflow: hidden;
	padding: 2px;
}

#customize-control-astra-color-palettes
	.ast-add-palette-color-wrap
	.dashicons-plus {
	padding: 2px;
	border: 1px solid grey;
	border-radius: 100%;
	font-weight: 100;
	margin-top: 10px;
	cursor: pointer;
}

#customize-control-astra-color-palettes .ast-color-delete-icon {
	position: absolute;
	top: -21px;
	right: 0;
	height: 10px;
	width: 10px;
	cursor: pointer;
}

#customize-control-astra-color-palettes
	.ast-color-delete-icon
	.dashicons-trash {
	font-size: 15px;
}

@media (min-width: 1800px) {
	#customize-control-astra-color-palettes .astra-color-picker-wrap {
		width: 24em;
	}
}
