.color-group-item .components-tooltip .components-popover__content {
  border-radius: 3px;
}

.color-group-item .components-tooltip .components-popover__content > div {
  padding: 5px 10px;
  line-height: 1;
}

.color-group-item .components-tooltip:before {
  content: '';
  position: absolute;
  left: -13px;
  top: -15px;
  bottom: 100%;
  width: 0;
  height: 0;
  border-bottom: 5px solid #1f1f1f;
  border-top: 10px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.customize-control.customize-control-ast-color-group {
  display: flex;
  flex-wrap: wrap;
}

.customize-control.customize-control-ast-color-group .ast-toggle-desc-wrap {
  flex: 1 1 auto;
}

.customize-control.customize-control-ast-color-group .ast-field-color-group-wrap {
  justify-content: flex-end;
  display: flex;
}

.customize-control.customize-control-ast-color-group .color-button-wrap {
  position: inherit;
}

.customize-control.customize-control-ast-color-group .color-group-item:not(:last-child) {
  margin-right: 8px;
}

.customize-control.customize-control-ast-color-group .astra-popover-color {
  position: absolute;
  left: 0;
  z-index: 9;
}

.customize-control.customize-control-ast-color-group .ast-color-group-reset {
  right: 82px;
  top: 7px;
  cursor: pointer;
}

.customize-control.customize-control-ast-color-group .ast-color-group-responsive-wrap {
  display: none;
}

.customize-control.customize-control-ast-color-group .ast-color-group-responsive-wrap.active {
  justify-content: flex-end;
  display: flex;
}

#customize-control-astra-settings-transparent-toggle-colors .ast-color-group-reset,
#customize-control-astra-settings-transparent-header-html-colors-group .ast-color-group-reset,
#customize-control-astra-settings-transparent-header-colors-menu .ast-color-group-reset,
#customize-control-astra-settings-transparent-header-colors-submenu .ast-color-group-reset,
#customize-control-astra-settings-transparent-header-search-colors-group .ast-color-group-reset {
  right: 122px;
}
