.customize-control.customize-control-ast-color-group {
  display: flex;
  flex-wrap: wrap;
}

.customize-control.customize-control-ast-color-group .ast-toggle-desc-wrap {
  flex: 1 1 auto;
}

.customize-control.customize-control-ast-color-group .ast-field-color-group-wrap {
  justify-content: flex-end;
  display: flex;
}

.customize-control.customize-control-ast-color-group .color-button-wrap {
  position: inherit;
}

.customize-control.customize-control-ast-color-group .color-group-item:not(:last-child) {
  margin-right: 8px;
}

.customize-control.customize-control-ast-color-group .astra-popover-color {
  position: absolute;
  left: 0;
  z-index: 9;
}

.customize-control.customize-control-ast-color-group .ast-color-group-reset {
  right: 82px;
  top: 7px;
  cursor: pointer;
}
