.ast-color-picker-palette-1 .color-button-wrap {
  left: 166px;
}

.ast-color-picker-palette-2 .color-button-wrap {
  left: 126px;
}

.ast-color-picker-palette-3 .color-button-wrap {
  left: 86px;
}

.ast-color-picker-palette-4 .color-button-wrap {
  left: 46px;
}

.ast-color-picker-palette-5 .color-button-wrap {
  left: 5px;
}

#customize-control-astra-settings-global-color-palette .ast-color-palette-type {
  width: 30%;
  display: block;
}

.ast-color-palette-wrapper .color-button-wrap {
  top: 35px;
}

#customize-control-astra-settings-global-color-palette .astra-color-picker-wrap {
  margin-right: 0;
  margin-left: 5px;
}
