#customize-control-astra-settings-global-color-palette .components-radio-control__input[type="radio"]:checked::before {
  border: unset;
}

#customize-control-astra-settings-global-color-palette .components-radio-control__option {
  padding: 20px 0;
}

#customize-control-astra-settings-global-color-palette .color-button-wrap {
  display: unset;
  position: unset;
  left: unset;
  top: unset;
}

#customize-control-astra-settings-global-color-palette .ast-color-palette-inline {
  display: inline-block;
  margin-right: 5px;
}

#customize-control-astra-settings-global-color-palette .ast-color-palette1-wrap {
  position: absolute;
  top: 25%;
  left: 0;
}

#customize-control-astra-settings-global-color-palette .ast-color-palette2-wrap {
  position: absolute;
  left: 0;
  top: 57%;
}

#customize-control-astra-settings-global-color-palette .astra-color-picker-wrap {
  position: absolute;
  z-index: 1;
  left: 0;
  width: 21em;
}

#customize-control-astra-settings-global-color-palette .ast-color-btn-reset-wrap {
  right: 60px;
}

@media (min-width: 1800px) {
  #customize-control-astra-settings-global-color-palette .astra-color-picker-wrap {
    width: 24em;
  }
}
