#customize-control-astra-color-palettes .ast-color-palette-wrap > div {
	margin-bottom: 8px;
	position: relative;
}

#customize-control-astra-color-palettes .color-button-wrap {
	display: unset;
	position: relative;
	left: unset;
	top: unset;
	vertical-align: sub;
}

#customize-control-astra-color-palettes .astra-color-picker-wrap {
	position: absolute;
	z-index: 1;
	left: 0;
	width: 21em;
}

#customize-control-astra-color-palettes .ast-color-btn-reset-wrap {
	right: 60px;
}

#customize-control-astra-color-palettes .ast-color-palette-label {
	width: 65%;
	display: inline-block;
	margin-left: 10px;
	vertical-align: top;
}

#customize-control-astra-color-palettes .ast-color-palette-label input {
	background: none;
	border: none;
}

#customize-control-astra-color-palettes .ast-color-palette-label input:focus {
	border: 1px solid black;
	outline: none;
	box-shadow: none;
	background: white;
}

.ast-color-palette-wrapper .ast-single-palette-wrap {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	align-items: center;
	position: relative;
}

.ast-single-palette-wrap
	.components-button.astra-color-icon-indicate
	.component-color-indicator.astra-advanced-color-indicate {
	width: 25px;
	height: 25px;
}

#customize-control-astra-color-palettes
	.ast-color-palette-wrapper
	.ast-color-picker-wrap:first-child {
	margin-right: 0;
}

#customize-control-astra-color-palettes
	.ast-color-palette-wrapper
	.ast-color-picker-wrap {
	margin-top: 12px;
}

#customize-control-astra-color-palettes .ast-reset-btn:disabled {
	opacity: 0.6;
}

#customize-control-astra-color-palettes .ast-single-color-container {
	width: 20%;
	height: 100%;
	display: inline-block;
}

#customize-control-astra-color-palettes .ast-color-palette-wrap {
	height: 50px;
	width: 30%;
	float: right;
	margin-right: 12px;
	position: relative;
}

#customize-control-astra-color-palettes .ast-color-palette-wrap.active {
	outline: 3px solid #037fb8;
}

#customize-control-astra-color-palettes .ast-color-palette-wrapper {
	clear: both;
	margin-top: 10px;
}

#customize-control-astra-color-palettes .ast-color-palette-wrap:first-child {
	margin-right: 0;
}

#customize-control-astra-color-palettes .ast-palette-selection-wrapper {
	overflow: hidden;
	padding: 2px;
}

#customize-control-astra-color-palettes .ast-palette-label-wrap{
	position: absolute;
    bottom: -1%;
    right: 0;
    background-color: rgba(0,0,0,0.75);
    color: #FFF;
    overflow: hidden;
    width: 100%;
    text-align: center;
}

@media (min-width: 1800px) {
	#customize-control-astra-color-palettes .astra-color-picker-wrap {
		width: 24em;
	}
}
