#customize-control-astra-global-color-palette
	.ast-color-palette-wrap
	> div {
	margin-bottom: 8px;
	position: relative;
}

#customize-control-astra-global-color-palette .color-button-wrap {
	display: unset;
	position: unset;
	right: unset;
	top: unset;
	vertical-align: sub;
}

#customize-control-astra-global-color-palette
	.astra-color-picker-wrap {
	position: absolute;
	z-index: 1;
	right: 0;
	width: 21em;
}

#customize-control-astra-global-color-palette
	.ast-color-btn-reset-wrap {
	left: 60px;
}

#customize-control-astra-global-color-palette
	.ast-color-palette-label {
	width: 65%;
	display: inline-block;
	margin-right: 10px;
	vertical-align: top;
}

#customize-control-astra-global-color-palette
	.ast-color-palette-label
	input {
	background: none;
	border: none;
}

#customize-control-astra-global-color-palette
	.ast-color-palette-label
	input:focus {
	border: 1px solid black;
	outline: none;
	box-shadow: none;
	background: white;
}

#customize-control-astra-global-color-palette
	.ast-add-new-color.is-primary {
	width: 55%;
}

#customize-control-astra-global-color-palette
	.ast-color-palette-wrapper
	.ast-color-picker-wrap {
	display: inline-block;
	margin-left: 3px;
}

.ast-color-palette-wrapper .ast-single-palette-wrap{
	display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.ast-single-palette-wrap > label {
	display: flex;
    align-items: center;
    height: 100%;
}

.ast-single-palette-wrap .ast-palette-radio-input{
	width: 15px;
    height: 15px;
    flex: 0 0 16px;
	display: none;
}

.ast-single-palette-wrap .components-button.astra-color-icon-indicate .component-color-indicator.astra-advanced-color-indicate {
    width: 24px;
    height: 24px;
}

.ast-color-palette-wrapper .ast-color-picker-wrap:first-child{
	margin-left: 0;
}

#customize-control-astra-global-color-palette .ast-reset-btn:disabled {
	opacity: 0.6;
}

@media (min-width: 1800px) {
	#customize-control-astra-global-color-palette
		.astra-color-picker-wrap {
		width: 24em;
	}
}
