.customize-control-ast-responsive-slider .wrapper {
  position: relative;
}

.customize-control-ast-responsive-slider .input-field-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.customize-control-ast-responsive-slider input[type=range] {
  position: inherit;
}

.customize-control-ast-responsive-slider .input-field-wrapper {
  display: none;
}

.customize-control-ast-responsive-slider .input-field-wrapper.active {
  display: flex;
}

.customize-control-ast-responsive-slider .components-base-control {
  width: 100%;
}

.customize-control-ast-responsive-slider .wrapper .ast-range-unit {
  padding: 5px;
}

/**
 * Responsive Icons
 */
.ast-responsive-slider-btns {
  position: absolute;
  right: 5px;
  top: 5px;
}

.ast-responsive-slider-btns > li {
  margin-bottom: 0;
  display: none;
}

.ast-responsive-slider-btns > li.active {
  display: inline-block;
}

.ast-responsive-slider-btns button[type="button"] {
  padding: 0;
  cursor: pointer;
  background: none;
  border: none;
  opacity: .75;
  outline: none;
}

.ast-responsive-slider-btns button[type="button"] > i {
  cursor: pointer;
  width: 15px;
  height: 15px;
  font-size: 15px;
}
