.customize-control-ast-responsive-slider .wrapper, .customize-control-ast-slider .wrapper {
  position: relative;
  display: flex;
}

.customize-control-ast-responsive-slider .input-field-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.customize-control-ast-responsive-slider input[type=range] {
  position: inherit;
}

.customize-control-ast-responsive-slider .input-field-wrapper {
  display: none;
}

.customize-control-ast-responsive-slider .input-field-wrapper.active {
  display: flex;
}

/**
 * Responsive Icons
 */
.ast-responsive-slider-btns {
  position: absolute;
  left: 5px;
  top: 5px;
}

.ast-responsive-slider-btns > li {
  margin-bottom: 0;
  display: none;
}

.ast-responsive-slider-btns > li.active {
  display: inline-block;
}

.ast-responsive-slider-btns button[type="button"] {
  padding: 0;
  cursor: pointer;
  background: none;
  border: none;
  opacity: .75;
  outline: none;
}

.ast-responsive-slider-btns button[type="button"] > i {
  cursor: pointer;
  width: 15px;
  height: 15px;
  font-size: 15px;
}
.customize-control-ast-responsive-slider .wrapper .components-base-control, .customize-control-ast-responsive-slider .wrapper .input-field-wrapper.active, .customize-control-ast-slider .components-base-control.components-range-control {
  width: 100%;
  display: inline-block;
}
.customize-control-ast-slider .wrapper .ast-resp-slider-reset-wrap,
.customize-control-ast-responsive-slider .wrapper .ast-resp-slider-reset-wrap {
  margin-right: 12px;
  margin-top: 4px;
}
.customize-control-ast-responsive-slider .wrapper .ast-resp-slider-reset-wrap {
  top: 4px;
  left: 0;
}
.customize-control-ast-slider .wrapper .ast-range-unit {
  display: block;
}
.ast-resp-slider-reset-wrap .ast-reset-btn.components-button {
	color: #006BA1;
  height: 20px;
  width: 20px;
  padding: 4px;
  box-shadow: inset 0 0 0 1px #007cba;
}