.customize-control-ast-responsive-background {
  position: relative;
}

.customize-control-ast-responsive-background .background-container h4 {
  font-size: 14px;
  font-weight: 600;
  color: #555d66;
}

.customize-control-ast-responsive-background .background-attachment h4,
.customize-control-ast-responsive-background .background-color h4,
.customize-control-ast-responsive-background .background-position h4,
.customize-control-ast-responsive-background .background-repeat h4,
.customize-control-ast-responsive-background .background-size h4 {
  margin-bottom: 5px;
  margin-top: 10px;
}

.customize-control-ast-responsive-background .background-color {
  margin-bottom: 12px;
}

.customize-control-ast-responsive-background .background-repeat {
  margin: 15px 0 15px 0;
}

.customize-control-ast-responsive-background .background-attachment .buttonset,
.customize-control-ast-responsive-background .background-size .buttonset {
  display: flex;
  flex-wrap: wrap;
}

.customize-control-ast-responsive-background .background-attachment .buttonset .switch-label,
.customize-control-ast-responsive-background .background-size .buttonset .switch-label {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #555;
  padding: 2px 4px;
  margin-right: 15px;
  text-align: center;
  flex-grow: 1;
  transition: background-color 140ms linear;
}

.customize-control-ast-responsive-background .background-attachment .buttonset .switch-label:last-child,
.customize-control-ast-responsive-background .background-size .buttonset .switch-label:last-child {
  margin-right: 0;
}

.customize-control-ast-responsive-background .background-attachment .buttonset .switch-input:checked + .switch-label,
.customize-control-ast-responsive-background .background-size .buttonset .switch-input:checked + .switch-label {
  background-color: #f5f5f5;
  color: #565e67;
}

.customize-control-ast-responsive-background .background-attachment .buttonset .switch-input[checked="checked"] + .switch-label,
.customize-control-ast-responsive-background .background-size .buttonset .switch-input[checked="checked"] + .switch-label {
  background-color: #f5f5f5;
  color: #565e67;
}

.customize-control-ast-responsive-background .more-settings {
  margin-top: 12px;
  display: inline-block;
  padding: 5px 0 5px 0;
  cursor: pointer;
  float: right;
}

.customize-control-ast-responsive-background .more-settings:focus {
  outline: 0;
  box-shadow: none;
}

.customize-control-ast-responsive-background .arrow-icon {
  margin-left: 5px;
}

.customize-control-ast-responsive-background .background-container {
  display: none;
}

.customize-control-ast-responsive-background .background-container.active {
  display: block;
}

.customize-control-ast-responsive-background .wp-picker-container {
  display: block;
}

.customize-control-ast-responsive-background .wp-picker-container .wp-picker-clear {
  margin-left: 4px;
  min-height: 30px;
}

.customize-control-ast-responsive-background .customize-control-content .customize-control-title .astra-reset {
  top: 1px;
  right: 55px;
}

.customize-control-ast-responsive-background .customize-control-content .color-button-wrap {
  position: absolute;
  right: 24px;
  top: 4px;
}

.customize-control-ast-responsive-background .customize-control-content .ast-responsive-btns {
  position: absolute;
  right: 0px;
  top: 6px;
}

.customize-control-ast-responsive-background .customize-control-content .astra-color-picker-wrap {
  margin-top: -14px;
}

.customize-control-ast-responsive-background .customize-control-content .components-color-picker__saturation-color,
.customize-control-ast-responsive-background .customize-control-content .components-color-picker__saturation-white {
  border-radius: unset;
}

/**
 * BG Media Button.
 */
/**
* Gradient field
*/
.components-color-picker__inputs-toggle-wrapper .components-color-picker__inputs-toggle {
  vertical-align: middle;
  height: 32px;
}

.astra-popover-tabs .components-button.upload-button.button-add-media {
  width: 100%;
  position: relative;
  text-align: center;
  color: #555d66;
  border: 1px dashed #b4b9be;
  box-sizing: border-box;
  box-shadow: unset;
  padding: 9px 0;
  line-height: 1.6;
}

.astra-popover-tabs .components-button.upload-button.button-add-media:hover {
  color: #555d66;
  box-sizing: border-box;
  box-shadow: unset;
  border-color: #0185ba;
}

.astra-popover-tabs .components-button.ast-bg-img-remove {
  color: #0071a1;
  border: 1px solid #0071a1;
  background: #f3f5f6;
  vertical-align: top;
  margin: 15px 0;
  text-decoration: none;
  font-size: 13px;
  line-height: 2.15384615;
  min-height: 30px;
  padding: 0 10px;
}

.astra-popover-tabs button.components-button.ast-bg-img-remove:hover {
  box-shadow: none;
  background: #f1f1f1;
  border-color: #016087;
  color: #016087;
}

.astra-popover-tabs button.components-button.ast-bg-img-remove:focus {
  box-shadow: none;
  background: #f1f1f1;
  border-color: #016087;
  color: #016087;
}

.astra-popover-tabs button.components-button.ast-bg-img-remove:active {
  box-shadow: none;
  background: #f1f1f1;
  border-color: #016087;
  color: #016087;
}

.astra-popover-tabs [ID*="-gradient-view"] {
  padding: 15px;
}

.astra-popover-tabs [ID*="-gradient-view"] .components-circular-option-picker__clear {
  flex: unset;
  box-shadow: unset;
  width: auto;
  padding: 0 5px;
}

.astra-popover-tabs [ID*="-gradient-view"] .components-circular-option-picker__clear:hover {
  box-shadow: unset;
}

.astra-popover-tabs [ID*="-gradient-view"] .components-circular-option-picker__clear:active {
  box-shadow: unset;
}

.astra-popover-tabs [ID*="-gradient-view"] .components-circular-option-picker__clear:focus {
  box-shadow: unset;
}

.astra-popover-color .components-circular-option-picker {
  position: relative;
  margin-top: 0;
}

.astra-popover-color .components-circular-option-picker .components-circular-option-picker__custom-clear-wrapper {
  margin-top: 10px;
  justify-content: flex-start;
}

.astra-popover-color [ID*="-color-view"] .components-circular-option-picker {
  width: auto;
}

.astra-popover-color .ast-color-palette {
  width: auto;
  padding: 16px 0px 0px 20px;
}

.astra-popover-color .ast-color-palette .components-circular-option-picker__option {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.astra-popover-color .components-custom-gradient-picker {
  margin-top: 0;
}

.astra-popover-color .components-custom-gradient-picker__gradient-bar {
  box-sizing: border-box;
  opacity: 1;
}

.astra-popover-color .components-custom-gradient-picker__type-picker .components-base-control__label {
  display: block;
}

.components-custom-gradient-picker .components-base-control__label {
  padding-top: 10px;
  font-size: 12px;
  display: block;
  letter-spacing: 0.1px;
  line-height: 18px;
}

[ID*="-gradient-view"] .components-toolbar.components-custom-gradient-picker__toolbar .components-button.has-icon {
  border: none;
}

.media-position-setting.hide-settings {
  display: none;
}

.ast-field-settings-modal .customize-control-content .customize-control-title .astra-reset {
  top: 1px;
  right: 60px;
}

.ast-field-settings-modal .customize-control-content .color-button-wrap {
  right: 30px;
}

.ast-field-settings-modal .customize-control-content .ast-responsive-btns {
  right: 7px;
}

.ast-field-settings-modal .customize-control-content .astra-color-picker-wrap {
  margin-left: 0px;
}
