.customize-control-ast-responsive-color .customize-control-content .ast-color-picker-alpha {
  display: none;
}

.customize-control-ast-responsive-color .customize-control-content .ast-color-picker-alpha .astra-color-picker-wrap {
  margin-right: 2px;
  margin-top: -14px;
  background-color: #ffffff;
  text-align: center;
  border-radius: 4px;
}

.customize-control-ast-responsive-color .customize-control-content .ast-color-picker-alpha .astra-color-picker-wrap .components-color-picker__saturation-black {
  border-radius: 4px 4px 0 0;
}

.customize-control-ast-responsive-color .customize-control-content .ast-color-picker-alpha .astra-color-picker-wrap .components-color-picker__saturation-color {
  border-radius: 3px;
}

.customize-control-ast-responsive-color .customize-control-content .ast-color-picker-alpha .astra-color-picker-wrap .components-color-picker__saturation-white {
  border-radius: 3px;
}

.customize-control-ast-responsive-color .customize-control-content .ast-color-picker-alpha.active {
  display: block;
}

.customize-control-ast-responsive-color .customize-control-content .customize-control-title .astra-reset {
  top: 1px;
  left: 55px;
}

.customize-control-ast-responsive-color .customize-control-content .color-button-wrap {
  position: absolute;
  left: 24px;
  top: 4px;
}

.customize-control-ast-responsive-color .customize-control-content .components-color-picker__saturation-color,
.customize-control-ast-responsive-color .customize-control-content .components-color-picker__saturation-white {
  border-radius: unset;
}

.customize-control-ast-responsive-color .ast-responsive-btns {
  position: absolute;
  left: 0px;
  top: 6px;
}

.ast-field-settings-modal .customize-control-ast-responsive-color .customize-control-content .customize-control-title .astra-reset {
  top: 1px;
  left: 60px;
}

.ast-field-settings-modal .customize-control-ast-responsive-color .customize-control-content .color-button-wrap {
  left: 30px;
}

.ast-field-settings-modal .customize-control-ast-responsive-color .customize-control-content .astra-color-picker-wrap {
  margin-right: 0px;
}

.ast-field-settings-modal .customize-control-ast-responsive-color .ast-responsive-btns {
  left: 7px;
}
