.customize-control-ast-slider .wrapper {
  display: flex;
}

.customize-control-ast-slider .components-range-control {
  width: 100%;
}

.customize-control-ast-slider .ast-range-unit, .customize-control-ast-responsive-slider .wrapper .ast-range-unit {
  padding: 0 5px 0 0;
  font-size: 11px;
  line-height: 1em;
  font-weight: 500;
  align-self: auto;
  text-transform: uppercase;
}

.components-range-control__slider[type=range]::-webkit-slider-thumb, .components-range-control__slider[type=range]::-moz-range-thumb, .components-range-control__slider[type=range]::-ms-thumb {
    box-sizing: border-box;
    border: none;
    width: 10px;
    height: 10px;
}

/**/
.components-range-control__slider[type=range] {
  align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  cursor: pointer;
  display: flex;
  height: 100%;
  min-height: 50px;
  overflow: hidden;
  width: 240px;
}
.components-range-control__slider[type=range]:focus {
  box-shadow: none;
  outline: none;
}
.components-range-control__slider[type=range]::-webkit-slider-runnable-track {
  background: #e33d44;
  content: '';
  height: 2px;
  pointer-events: none;
}
.components-range-control__slider[type=range]::-webkit-slider-thumb {
  box-shadow: -1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}