.customize-control-ast-slider .wrapper {
  display: flex;
}

.customize-control-ast-slider .components-range-control {
  width: 100%;
}

.customize-control-ast-slider .ast-range-unit, .customize-control-ast-responsive-slider .wrapper .ast-range-unit {
  padding: 0 0 10px 5px;
  font-size: 11px;
  line-height: 1em;
  font-weight: 500;
  text-transform: uppercase;
}
