.customize-control-ast-toggle-control .components-toggle-control .components-base-control__field {
  margin: 12px 0;
}

.customize-control-ast-toggle-control .components-toggle-control .components-form-toggle {
  margin: 0;
  order: 2;
}

.customize-control-ast-toggle-control .components-toggle-control .components-toggle-control__label {
  display: flex;
  flex: 1 1 auto;
}
