.customize-control-ast-responsive-color {
	.customize-control-content {
		.ast-color-picker-alpha {
			display: none;
			.astra-color-picker-wrap{
				margin-left: 2px;
				margin-top: -14px;
				background-color: #ffffff;
				text-align: center;
				border-radius: 4px;
				.components-color-picker__saturation-black {
					border-radius: 4px 4px 0 0;
				}
				.components-color-picker__saturation-color {
					border-radius: 3px;
				}
				.components-color-picker__saturation-white {
					border-radius: 3px;
				}
			}
			&.active {
			display: block;
			}
		}
		.customize-control-title {
			.astra-reset {
				top: 1px;
				right: 55px;
			}
		}
		.color-button-wrap {
			position: absolute;
			right: 24px;
			top: 4px;
		}
		.components-color-picker__saturation-color,
		.components-color-picker__saturation-white {
			border-radius: unset;
		}
	}
	.ast-responsive-btns {
		position: absolute;
		right: 0px;
		top: 6px;
	}
}
.ast-field-settings-modal {
	.customize-control-ast-responsive-color {
		.customize-control-content {
			.customize-control-title {
				.astra-reset {
					top: 1px;
					right: 60px;
				}
			}
			.color-button-wrap {
				right: 30px;
			}
			.astra-color-picker-wrap {
				margin-left: 0px;
			}
		}
		.ast-responsive-btns {
			right: 7px;
		}
	}
}
